.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    margin: 0 auto;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #61dafb;
}
body{
    background-color: #12a879;
}

#clock {
    font-size: 4em;
}
.container{
    background-color: #1c3842;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 1);
}
.link{
    margin-top: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: #f0f0f0;
    font-weight: 600;
}
.link:hover{
    font-weight: bolder;
}